{{#navigation-component title='Notifications'}}

{{!-- ember-cli-materialize modal container --}}

<div class="container">
	<div class="row">
		{{#md-tabs selected="a"}}
			  {{md-tab class="indigo" value='a' title="Report Notifications"}}
			  {{md-tab class="indigo" value='b' title="Activity Notifications"}}
			  {{md-tab class="indigo" value='c' title="Reminder Notifications"}}
		{{/md-tabs}}
	</div>
	<div class="row">
		<div class="row">
			{{md-input label='Name: ' class="col s6" validate=true}}
		</div>
		<div class="row">
		  {{md-select content=frameworks
		    value=framework
		    label="Type: "
		    prompt="Please choose..."
		    optionLabelPath="content.value"
		    optionValuePath="content" class="col s6"}}
		</div>
		<div class="row">
		  {{md-select content=frameworks
		    value=framework
		    label="Frequency: "
		    prompt="Please choose..."
		    optionLabelPath="content.value"
		    optionValuePath="content" class="col s6"}}
		</div>
		<div class="row">
			{{md-input-date label='Start Date: ' class="col s6"}}
		</div>
		<div class="row">
			{{md-input-date label='End Date: ' class="col s6"}}
		</div>
		<div class="row">
			{{#md-collection class="col s10" content=content as |item|}}
	  			{{link-to item.name item.route class='collection-item'}}
			{{/md-collection}}
		</div>
	</div>	
</div>

{{md-modal-container}}
{{/navigation-component }}

<!--<div class="row" id="">
	    <p>{{md-check name="Email" class="col s2" checked=checkboxIsSelected0}}{{md-input label='Search criteria: ' icon="mdi-action-android" class="col s4" validate=true}}</p>
	</div>
	<div class="row">
	    <p>{{md-check name="Google Calendar" class="col s2" checked=checkboxIsSelected1}}{{md-input label='Search criteria: ' icon="mdi-action-android" class="col s4" validate=true}}</p>
	</div>
	<div class="row">
	    <p>{{md-check name="Publication" class="col s2" checked=checkboxIsSelected2}}{{md-input label='Search criteria: ' icon="mdi-action-android" class="col s4" validate=true}}</p>
	</div>-->