{{#navigation-component title='List of testable features'}}
    <div class="featureslist">
        <div>
            <h5>Here you would put the feature name</h5>
            <p>
                <span>Here you would put the feature description</span><br/>
                Here you would put instructions on the steps required to use the feature.
            </p>

            {{#link-to 'testing'}}
                {{md-btn text='Link to feature starting page' class='teal'}}
            {{/link-to}}
        </div>

        <div>
            <h5>Add publication</h5>
            <p>
                <span>This feature creates and sends a request object to create a new publication</span><br/>
                To access this feature, normally you would navigate to the
                <strong>Publications</strong> page and click on the "add" floating action button, but since the <strong>Publications</strong> page does not yet
                exist at the time of writing, the only way to access this feature is through the direct link to the page. Note that because of this, the button
                below would normally link to the <strong>Publications</strong> page, so the tester would have to go through the same flow of steps to use the
                feature as the user would, but now links to the <strong>Add Publication</strong> page.
            </p>

            {{#link-to 'addpublication'}}
                {{md-btn text='Go to Publications' class='teal'}}
            {{/link-to}}
        </div>

        <div>
            <h5>Research Groups</h5>
            <p>
                <span>This feature is used to manipulate the researcher groups that a publication can belong to</span><br/>
                To access this feature, normally you would navigate to the
                <strong>Research Group</strong> page and navigate through the tabs on the top and add, suspend and reactivate a <strong>Research Group</strong>. Other than using the url page the only way to access this feature is through the direct link to the page. Note that because of this, the button
                below would normally link to the <strong>Research Group</strong> page.
            </p>

            {{#link-to 'researchGroup.addResearchGroup'}}
                {{md-btn text='Go to Research Groups' class='teal'}}
            {{/link-to}}
        </div>

        <div>
            <h5>Researcher Categories</h5>
            <p>
                <span>This feature is used to manipulate the researcher categories that a person/user can belong to</span><br/>
                To access this feature, normally you would navigate to the
                <strong>Researcher Category</strong> page and navigate through the tabs on the top and add, modify a <strong>Research Category</strong>. Other than using the url the only way to access this feature is through the direct link to the page. Note that because of this, the button
                below would normally link to the <strong>Researcher Category</strong> page.
            </p>

            {{#link-to 'researcherCategory.addResearcherCategory'}}
                {{md-btn text='Go to Researcher Categories' class='teal'}}
            {{/link-to}}
        </div>


    </div>


{{/navigation-component }}


{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
